body,
html {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.scroller {
    height: 100vh;
}

/* Center-align .page-center */
.page-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

img {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 2.625rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.25rem;
}
