body,
html {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.scroller {
    height: 100vh;
}

/* Center-align .component-center */
.page-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
